body {
    font-family: sans-serif;
    margin-top: 60px;
    background-image:https://www.google.co.in/imgres?imgurl=http%3A%2F%2Fimg818.imageshack.us%2Fimg818%2F5354%2Furllink.png&imgrefurl=http%3A%2F%2Fshare.url.ph%2F&docid=0mXKL7wYGxy-TM&tbnid=7by_YZtxUvKaXM%3A&w=256&h=256&itg=1&bih=662&biw=1366&ved=0ahUKEwjzrdK7lMPPAhUq_4MKHWx2BrQQMwgfKAIwAg&iact=mrc&uact=8;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container {
    max-width: 800px;
    margin: 0 auto;
    color: rgb(19, 7, 7);
    font-family: sans-serif;
    padding-left: 20;
    padding-right: 20
}